// Section background
.about {
  @extend %section-background;
}

// Section text
.about-text {
  padding-right: 70px;
}

// Paragraph padding
.about-text-column {
  p {
    padding-bottom: 10px;
  }
}

%picture-frame {
  height: auto;
  padding: 10px;
  border: 1px solid gray;
  box-shadow: $shadow-3;
}

// Image
.about-text-image {
  width: 100%;
  float: right;
  @extend %picture-frame;
}

.about-text-image-lowwidth {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  @extend %picture-frame;
}

// Signature
.signature {
  font-size: 55px;
  @extend %handwriting;
}
