// Section background 
.contact {
  @extend %section-background;
}

// Text padding
.contact-text {
  p {
    padding-bottom: 20px;
  }
}

// Contact info pre-text
.contact-pre {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 70%;
  padding-bottom: 20px;
}

// Contact method container
.contact-methods {
  text-align: center;
}

// Contact method text 
.contact-method {
  font-size: 19px;
  padding-bottom: 10px;

  b:hover {
    font-size: 20px;
    @extend .link:hover;
  }

  b:hover.copied {
    background-color: #2173ded0;
    transition: all 150ms;
  }
}

.social {
  margin-bottom: 10px;

  .name {
    font-size: 18px;
  }
}

// Social icon spacing
.social:not(:last-child) {
  margin-right: 10px;
}

// Email masking trick
.email:before {
  content: attr(data-suffix) "\0040" attr(data-prefix);
  unicode-bidi: bidi-override;
  direction: rtl;
}

// Brand colours
.discord {
  color: #7289da;
}

.github {
  color: #302f2f;
}

.npm {
  color: #ea2039;
}

.linkedin {
  color: #0077b5;
}

.twitter {
  color: #1da1f2;
}

.instagram {
  color: #d72c47;
}
