// Section background
.experience {
  @extend %section-background;
}

// Section text
.experience-category-title {
  font-size: 25px;
  padding-bottom: 10px;
  text-align: center;
  @extend %title;
}

// Add a better box-shadow to timeline element content
.vertical-timeline-element-content {
  box-shadow: $shadow-1;
}

.timeline-item {
  %subtitle {
    font-size: 14px;
  }

  .role {
    font-size: 20px;
    color: #363636;
    margin-bottom: 12px;
  }

  .company {
    @extend %subtitle;
  }

  .location {
    @extend %subtitle;

    .position-fix {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .type {
    @extend %subtitle;

    .position-fix {
      padding-left: 1px;
      padding-right: 2px;
    }
  }

  .tech {
    margin-bottom: 5px;
  }

  .tech:not(:last-child) {
    margin-right: 5px;
  }  
}