// Section background
.experience {
  @extend %section-background;
}

// Section text
.experience-category-title {
  font-size: 25px;
  padding-bottom: 10px;
  text-align: center;
  @extend %title;
}

// Add a better box-shadow to timeline element content
.vertical-timeline-element-content {
  box-shadow: $shadow-1;
}

// Remove "line" between positions
.vertical-timeline::before {
  display: none;
}

.timeline-item {
  @extend %text;

  %subtitle {
    font-size: 14px;
  }

  .role-content {
    display: flex;
    flex-direction: column;
  }

  .meta {
    display: flex;
    flex-direction: row;

    .icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 5px;
    }
  
    .texts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 24px; // Bring texts in line with the emojis by spacing them out more
    }
  }

  .role {
    font-size: 20px;
    color: #363636;
    margin-bottom: 12px;
  }

  .company {
    @extend %subtitle;
  }

  .location {
    @extend %subtitle;

    .position-fix {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .type {
    @extend %subtitle;

    .position-fix {
      padding-left: 1px;
      padding-right: 2px;
    }
  }

  .description {
    font-size: 14px;
  }

  .tech {
    margin-bottom: 5px;
    font-size: 11px
  }

  .tech:not(:last-child) {
    margin-right: 5px;
  }
}