/* Section background */
.page-footer {
  background-color: #23272A;
  color: #FFFFFF;
  padding-bottom: 48px; /* Remove extra padding at the bottom */
}

/* Footer text */
.footer-text {
  text-align: center;

  p:not(:last-child) {
    padding-bottom: 10px;
  }

  .react-link {
    color: #61DAFB;
  }

  .react-link:hover {
    color: #A6E8FA;
  }

  .sass-link {
    color: #EA84B7;
  }

  .sass-link:hover {
    color: #FABADA;
  }
  
  .bulma-link {
    color: #00D1B2;
  }

  .bulma-link:hover {
    color: #68f6e1;
  }

  .default-link {
    color: #6bb3ff;
  }

  .default-link:hover {
    color: #bdddff;
  }
}
