/* Home section */

@import 'utils';

/* Navbar */
.navbar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  opacity: 1;
  z-index: 1;
  @extend %navbar-toggle-animation;

  li {
    font-size: 20px;
    @extend %large-title;
    @extend %item-hover-animation;
  }

  li:hover {
    background-color: #DBDBDB;
    @extend %item-hover-animation;
  }
}

/* Section background */
.banner {
  background-color: #F0F0F0;
}

/* Page title */
.large-title {
  font-size: 80px;
  font-weight: bold;
  color: #363636;
  padding-bottom: 20px;
  @extend %large-title;
}

/* Subtitle (Typing) */
.subtitle-typing {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  background-color: #333333;
  border-radius: 20px;
  color: white;
  text-align: left;
  padding-left: 20px;
  @extend %monospace;
}

.subtitle-typing:before {
  content: "admin@lw:~$ ";
  color: #C0C0C0;
}
