// Section background
.projects {
  @extend %section-background;
}

// Project card
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: $shadow-1;
  text-align: center;
  padding-right: 24px; // Fix extra padding
}

// Card title
.card-title {
  font-size: 20px;
  font-weight: bold;
  font-weight: 300;
  text-align: center;
  padding-bottom: 0px;
  @extend %title;
}

// Card text
.card-text {
  padding-bottom: 10px;
}

.tile {
  // Prevent cards from overflowing out of the page while scaling
  flex-wrap: wrap;

  // Hack to override the Bulma margin (Which uses !important)
  .is-child {
    margin: 15px !important;
  }
}

// Project links
.project-links {
  .project-button {
    margin-left: 0px;
    font-size: 25px;
  }

  .project-button:not(:last-child) {
    padding-right: 10px;
  }
}

// Project technology tag
.project-tech {
  margin-bottom: 5px;
}

.project-tech:not(:last-child) {
  margin-right: 5px;
}
