/* Section background */
.skills {
  background-color: #FCFCFC;
}

/* Section text */
.skills-text {
  padding-right: 70px;

  p {
    padding-bottom: 10px;
  }
}

/* Progress bar column */
.bars {
  p {
    font-weight: 400;
    font-size: 18px;
    @extend %title;
  }
}

/* Progress bar with text */
.bar {
  padding-bottom: 10px;
}

/* Progress bar icon */
.bar-icon {
  font-size: 35px;

  /* Icon centering */
  .js {
    color: #83CD29;
    padding-left: 4px;
  }

  .react {
    color: #61DAFB;
    padding-left: 3px;
  }
  
  .sass {
    color: #EA84B7;
    padding-left: 3px;
  }

  .linux {
    color: #000000;
    padding-left: 5px;
  }

  .golang {
    color: #375EAB;
    padding-left: 4px;
  }
}
