/* Section background */
.skills {
  background-color: #FCFCFC;
}

/* Section text */
.skills-text {
  padding-right: 70px;

  p {
    padding-bottom: 10px;
  }
}

.skill-display {
  display: flex;
  flex-direction: column;
}

.skill-group {
  .title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
    @extend %title;
  }

  .icon-list {
    font-size: 35px;

    span:not(:last-child) {
      padding-right: 10px;
    }

    .icon-container {
      border: none;
    }
  }
}
