@import '~bulma/bulma.sass'; // Bulma
@import '~bulma-divider/dist/css/bulma-divider.sass'; // Bulma divider
@import '~@creativebulma/bulma-tooltip/dist/bulma-tooltip.css';
@import '~@coreui/icons/css/brand.css'; // Core UI Icons
@import '~@coreui/icons/css/free.css'; // Core UI Icons
@import 'vendor/flag-icon-css/scss/flag-icon.scss'; // Flag Icon CSS
@import url('https://fonts.googleapis.com/css?family=Oswald:400|Roboto+Mono:100|Fira+Mono:400|Merriweather:300|Bilbo+Swash+Caps:400&display=swap'); // Google Fonts

// Locals

@import 'global';
@import 'utils';
@import 'floating';
@import 'home';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';
@import 'footer';

// Typography

%title {
  font-family: 'Oswald', sans-serif;
}

%text {
  font-family: 'Merriweather', serif;
}

%monospace-prefix {
  font-family: 'Roboto Mono', monospace;
}

%monospace-command {
  font-family: 'Fira Mono', monospace;
}

%handwriting {
  font-family: 'Bilbo Swash Caps', cursive;
}

%section-background {
  background-color: #fcfcfc;
}

// Animations

%hover-animation {
  @include transition (all 125ms);
  transition-timing-function: ease-in-out;
}
